.Hero{
    background-color: var(--white);
  }
  .HeroSection{
    background-image: url('./Pro.gif');
    background-size: cover;
    background-position: center;
    height: 70vh;
    padding-right: 40%;
  }
  .GridItems{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: center;
  } 